*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1{
	text-align: center;
}
body{
	background-color: lightgray;
}
#contain{
	position: relative;
	background-color: rgba(255,255,0,0.5);
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
}
.size{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	margin-bottom: 15px;
	/*margin-top: 0;
	margin-bottom: 10px;
	margin-right: 10px;*/
	/*float: left;*/
}
#p1{
	position: relative;
	background-color: red;
	/*top: 115px;
	left : 115px;*/
}
#p2{
	background-color: green;
}
#p3{
	background-color: white;
	/*position: absolute;
	top: 10px;
	left: 10px;*/
}
#p4{
	background-color: brown;
}
#p5{
	clear: left;
	margin-bottom: 0px;
}